html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background: radial-gradient(125.95% 58.02% at 141.67% 108.02%, #80B1FE 0%, rgba(128, 176, 254, 0) 100%), radial-gradient(98.23% 47.94% at 0% -1.78%, #FFD77F 0%, rgba(255, 215, 127, 0) 100%), radial-gradient(117.14% 64.09% at -31.59% 92.76%, #FFB69F 0%, rgba(255, 182, 159, 0) 100%), #EEEFEA;
}

h1 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  background: linear-gradient(90deg, #80B1FE 0%, #FFB69F 100%);
  border-radius: 15px;
  border: 5px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  border: 5px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #FFD77F;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  /* background: #367ebd; */
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  background: linear-gradient(90deg, #80B1FE 0%, #FFB69F 100%);
  border-radius: 15px;
  border: 5px solid #010101;
}

input[type=range]::-moz-range-thumb {
  border: 5px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #FFD77F;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  -ms-border-radius: 15px;
  border-radius: 15px;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: linear-gradient(90deg, #80B1FE 0%, #FFB69F 100%);
  border: 5px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: linear-gradient(90deg, #80B1FE 0%, #FFB69F 100%);
  border: 5px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  border: 5px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #FFD77F;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input {
  background: transparent;
}

button.age {
  cursor: pointer;
}

button.age.selected {
  background: black;
  color: white;
}

button.submit-btn, button.see-tips-btn, button.do-next-btn {
  -webkit-box-shadow: 0px 31px 31px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 31px 31px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 31px 31px 0px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.results-container {
  border-radius: 2em;
  border: 4px solid black;
}

.range-container, .submit-container {
  border-top-width: 4px;
}